.page-title, .stats-cards-container {
  display: flex;
  justify-content: center;
}

.stats-cards-container {
  column-gap: 3%;
}

.line-chart-container {
  margin: 30px auto 0 auto;
  height: 400px;
  width: 50vw;
  }

.back-link {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}
