.page-title, .stats-cards-container {
  display: flex;
  justify-content: center;
}

.stats-cards-container {
  column-gap: 3%;
}

.back-link {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}
