.details-page-container {
  display: flex;
  height: 100vh;
  flex-direction: column;
  justify-content: space-evenly;
  padding: 0 3% 0 3%;
}

.page-title, .stats-cards-container {
  display: flex;
  justify-content: center;
}

.page-title {
  font-size: clamp(0.8em, 1.3vw, 1.3em);
}

.stats-cards-container {
  column-gap: 3%;
  font-size: clamp(0.7em, 1vw, 1em);
}

.line-chart-container {
  margin: 0 auto 0 auto;
  height: 50vh;
  width: 40vw;

  @media screen and (max-width: 1200px){
      width: 95vw;
  }
}

.back-link {
  display: flex;
  justify-content: center;
}
