.home-page-container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding: 0 3% 0 3%;
}

.home-page-title,
.stats-cards-container{
  display: flex;
  justify-content: center;
}

.stats-cards-container {
  column-gap: 3%;
}

.pie-chart-container {
  height: min(max(200px, 65vh), 58vw);
}
