/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root {
  --primary-color : rgba(4, 130,142, 1);
}

body {
  font-family: 'Montserrat', sans-serif;
  margin: 0;
}

h1, h2 {
  font-weight: normal;
  margin: 0;
}

.back-link {
  text-decoration: none;
  color: black;
  font-weight: 600;
  font-size: clamp(1em, 1.3vw, 1.3em);
  padding: 6px;
  border-radius: 10px;
  background-color: lightblue;
  transition: background-color 0.3s ease;
  &:hover {
    background-color: lightskyblue;
  }
}
