/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root {
  --primary-color : rgba(4, 130,142, 1);
}

body {
  font-family: 'Montserrat', sans-serif;
}

h1, h2 {
  font-weight: normal;
}
